In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("./income_data.csv")


cols = [" lga_code17" , ' lga_name17' , ' equiv_tot_hsld_inc_fam_lone_p_grp_hslds_med_wkly_aud', ' est_p_inc_med_tot_inc_excl_gov_pnsn_aud']

sub_df = df[cols]

# Change col names
sub_df = sub_df.rename(columns={' equiv_tot_hsld_inc_fam_lone_p_grp_hslds_med_wkly_aud':"household_income" ,
                      ' est_p_inc_med_tot_inc_excl_gov_pnsn_aud':"personal_income"})


population_df = pd.read_csv("./population_data.csv")

cols = [" lga_code17" , " lga_name17" , ' pop_density_pop_density_p_p_km2',' est_res_pop_p_tot_num' , ' est_res_pop_p_wrking_age_pop_15_64_yrs_pr100']

pop_sub_df = population_df[cols]

pop_sub_df = pop_sub_df.rename(columns={' pop_density_pop_density_p_p_km2':"population_density" ,
                                       ' est_res_pop_p_tot_num':"population",
                                      ' est_res_pop_p_wrking_age_pop_15_64_yrs_pr100':"working_age_population" })




join_df = pd.merge(pop_sub_df , sub_df , on=[" lga_code17", " lga_name17"])


def is_in_income_rage(income,income_range):
    
    R = list(join_df['personal_income'].quantile(income_range))
    
    return income >= R[0] and income <= R[1]


tmp_df = join_df[[" lga_name17" , " lga_code17",'population' , "personal_income" ]]
tmp_df['low_income'] = tmp_df['personal_income'].map(lambda income: is_in_income_rage(income , [0,0.3]))
tmp_df['high_income'] = tmp_df['personal_income'].map(lambda income: is_in_income_rage(income , [0.8,1.0]))
tmp_df.head()

/Users/ethanchen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/ethanchen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,lga_name17,lga_code17,population,personal_income,low_income,high_income
0,Albury (C),10050,52171,45504.0,False,False
1,Armidale Regional (A),10130,30313,40733.0,False,False
2,Ballina (A),10250,42993,39782.0,True,False
3,Balranald (A),10300,2330,42282.0,False,False
4,Bathurst Regional (A),10470,42244,47746.0,False,False

In [4]:
tmp_df[tmp_df.low_income == True].sort_values(by=['population'] , ascending=False).head(20)

,lga_name17,lga_code17,population,personal_income,low_income,high_income
191,Greater Dandenong (C),22670,160222,39845.0,True,False
263,Fraser Coast (R),33220,102962,38664.0,True,False
98,Shoalhaven (C),16950,101942,38791.0,True,False
221,Bundaberg (R),31820,94256,38891.0,True,False
103,Tweed (A),17550,93742,39362.0,True,False
35,Mid-Coast (A),15240,91801,35736.0,True,False
54,Port Macquarie-Hastings (A),16380,80073,39210.0,True,False
72,Coffs Harbour (C),11800,74670,39529.0,True,False
240,Noosa (S),35740,53922,37763.0,True,False
70,Clarence Valley (A),11730,51622,36860.0,True,False
269,Gympie (R),33620,50327,36640.0,True,False
141,East Gippsland (S),22110,45600,37018.0,True,False
29,Lismore (C),14850,44122,40074.0,True,False
2,Ballina (A),10250,42993,39782.0,True,False
250,Scenic Rim (R),36510,40984,40675.0,True,False
277,Lockyer Valley (R),34580,39499,40476.0,True,False
79,Eurobodalla (A),12750,37919,35593.0,True,False
134,Campaspe (S),21370,37595,39782.0,True,False
253,Southern Downs (R),36660,35638,36058.0,True,False
6,Bega Valley (A),10550,33941,37270.0,True,False

In [3]:
tmp_df[tmp_df.high_income == True].sort_values(by=['population'] , ascending=False).head(20)

,lga_name17,lga_code17,population,personal_income,low_income,high_income
464,Unincorporated ACT,89399,403104,63061.0,False,True
48,Northern Beaches (A),15990,265468,54783.0,False,True
181,Sutherland Shire (A),17150,226461,54766.0,False,True
182,Sydney (C),17200,222717,53393.0,False,True
453,Stirling (C),57910,220073,53876.0,False,True
53,Penrith (C),16350,201597,52203.0,False,True
259,Townsville (C),37010,191348,52134.0,False,True
18,Inner West (A),14170,191194,59101.0,False,True
131,Boroondara (C),21110,177276,57306.0,False,True
102,The Hills Shire (A),17420,162975,54352.0,False,True
417,Joondalup (C),54170,160918,54080.0,False,True
57,Randwick (C),16550,148922,57927.0,False,True
188,Glen Eira (C),22310,148583,53099.0,False,True
95,Hornsby (A),14000,147385,52738.0,False,True
472,Swan (C),58050,136679,52874.0,False,True
460,Rockingham (C),57490,128992,54561.0,False,True
166,Moonee Valley (C),25060,122871,53959.0,False,True
23,Ku-ring-gai (A),14500,122472,58598.0,False,True
228,Mackay (R),34770,117218,52740.0,False,True
180,Stonnington (C),26350,111003,60483.0,False,True